body{
    border: solid 2px black;
    height: 100%;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

.container{
    display: flex;
    flex-direction: column;
}

.container div{
    margin: 0px 5px;
}

.thick{
    width: 100%;
    height: 15px;
    background-color: black;
    justify-content: center;
}

.thin{
    width: 100%;
    height: 1px;
    background-color: black;
    justify-content: center;
}

.grey{
    width: 100%;
    height: 1px;
    background-color: grey;
    justify-content: center;
}

.medium{
    width: 100%;
    height: 6px;
    background-color: black;
    justify-content: center;
}

.right{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-size: 13px;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

